body {
    color: white;
    font-family: 'Gabarito', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: black;
} 

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(27, 27, 27);
    color: orange;
    padding: 20px 20px;
    box-shadow: 10px 10px 10px 10px black;
}

.logo img {
    max-width: 200px;
}

.links a {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.links a:hover {
    color: white;
}


.links a {
    text-decoration: none;
    color: inherit;
    position: relative;
    margin-left: 20px;
}

.links a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: white;
    transition: width 0.3s ease;
}

.links a:hover::after {
    width: 100%;
}

.custom-select {
    width: 100px;
    margin: 10px;
}

select {
    font-weight: bold;
    width: 100px;
    padding: 5px;
    color: white;
    border: 1px solid orange;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: orange;
    font-size: 16px;
    color: #555;
    cursor: pointer;
    transition: 0.3s;

}

select:hover{
    color: white;
    background-color: rgb(90, 59, 0);
    border:  1px solid rgb(90, 59, 0);
    transition: 0.3s;

}

.background {
    background-image: url('imgs/background1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background .overlay {
    background-color: rgba(10, 10, 10, 0.707);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background .overlay .content {
    margin-top: 350px;
    color: #fff;
    text-align: center;
    z-index: 1;
}

.background .overlay .content h1 {
    font-size: 37px;
    font-weight: bold;
}

.background .overlay .content p {
    font-size: 18px;
}

.background .overlay .content button {
    margin-top: 5px;
    font-family: 'Gabarito', cursive;
    font-weight: 800;
    padding: 15px 25px;
    font-size: 18px;
    background-color: orange;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 50px;
    transition: 0.3s;
}
.background .overlay .content button:hover {
    background-color: rgb(122, 80, 0);
    padding: 20px 35px;
    transition: 0.3;
}


#loading {
    display: none;
    text-align: center;
    margin-top: 20px;
}

.serviceHome {
    background-color: rgb(27, 27, 27);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;

}

.serviceHome h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: orange;
}

.serviceHome .square-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1481px;
    margin: 0 auto;
}

.serviceHome .square {
    width: 320px;
    height: 320px;
    background-color: orange;
    margin: 15px;
    border-radius: 30px;
    transition: 0.3s;
    box-shadow: -10px 10px 0px 0px rgb(138, 90, 0);
}

.serviceHome .square:hover {
    box-shadow: 0px 0px 0px 10px rgb(138, 90, 0);
}

.serviceHome button {
    margin-top: 40px;
    font-family: 'Gabarito', cursive;
    font-weight: 800;
    padding: 25px 35px;
    font-size: 18px;
    background-color: orange;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 50px;
    transition: 0.3s;
}

.serviceHome button:hover {
    background-color: orange;
    padding: 20px 35px;
}

.serviceHome p{
    text-align: center;
}

.square-container p{
    text-align: center;
    font-size: 13px;
    margin-left: 30px;
    width: 80%;
    font-weight: bold;
}

.square .image-container {
    text-align: center;
}

.square img {
    margin-top: 40px;
    max-height: 200px;
    max-width: 125px;
    height: auto;
}

.square .caption {
    color: white;
    font-weight: bold;
    font-size: 23px;
    margin-top: 30px;
}

.cardContent {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    margin-bottom: 50px;
}

.infoCard {
    text-align: left;
    padding: 80px;
    max-width: 300;
    color: orange;
    background-color: rgb(0, 0, 0); 
}


.imgCard{
    display: flex;
    justify-content: center;
    padding: 80px;
    margin-right: 50px;
    background-color: orange;
}

.cardSection {
    background-color: orange;
}

.container {
    background-color: orange;
    display: flex;
    align-items: center;
}

.text-section {
    font-size: 20px;
    padding-left: 200px;
    flex: 1;
    padding-right: 20px;
}

.image-section {
    width: 200% ;
    padding-right: 300px;
    flex: 1;
    text-align: right;
}

.image-section img {
    max-width: 100%;
    height: auto;
}

.container2 {
    color: orange;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}
.text-section2 {
    font-size: 20px;
    flex: 1;
    padding-right: 200px;
}

.image-section2 {
    padding-right: 300px;
    width: 200% ;
    flex: 1;
    text-align: right;
}

.image-section2 img{
    max-width: 70%;
    padding-top: 40px;
}

.strong{
    font-size: 25px;
}

.form{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.form button{
    padding: 20px;
    text-align: center;

}
.research{
    display: block;
    justify-content: center;
    text-align: center;
    margin-bottom: 150px;
}

.invia, .form select {
    margin-top: 5px;
    font-family: 'Gabarito', cursive;
    font-weight: 800;
    padding: 15px 25px;
    font-size: 18px;
    background-color: orange;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 50px;
    transition: 0.3s;
}

.invia:hover, .form select:hover {
    background-color: rgb(122, 80, 0);
    transition: 0.3;
} 

.searchBar{
    margin-top: 5px;
    font-family: 'Gabarito', cursive;
    font-weight: 800;
    padding: 15px 25px;
    font-size: 18px;
    background-color: orange;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 50px;
    transition: 0.3s;
}

.searchBar:hover {
    background-color: rgb(122, 80, 0);
    transition: 0.3;
} 

.loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.664);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

